h1,
h2,
h3 {
	color: #08a6f3
}

.editor-toolbar button {
	margin: 10px!important;
	color: #fff!important;
	background-color: grey!important;
	font-size: 14px!important;
	margin-bottom: 20px!important
}

.editor-toolbar {
	height: auto!important
}

.CodeMirror-fullscreen {
	margin-top: 30px!important
}

.editor-preview-active-side {
	margin-top: 30px!important
}

.editor-preview-active-side {
	color: #000
}

.hljs {
	font-size: 14px
}

@media only screen and (max-width:400px) {
	.blog-body ul {
		margin-left: 20px
	}
	.blog-body ol {
		margin-left: 10px
	}
}

@media only screen and (min-width:400px) {
	.blog-body ul {
		margin-left: 45px
	}
	.blog-body ol {
		margin-left: 20px
	}
}

.b-img {
	background-color: #d9cfce;
	border-radius: 3px
}

.blog-tags {
	margin-left: -10px
}

.blog-tags span {
	padding-left: 2px;
	padding-right: 2px;
	display: inline-block;
	margin: 5px 8px 0 8px
}

.blog-share-buttons {
	margin-left: -10px
}