h1, h2, h3, h3 {
    color: #08a6f3;
}

.editor-toolbar button {
    margin: 10px !important;
    color: white !important;
    background-color: grey !important;
    font-size: 14px !important;
}
.hljs{
    font-size: 14px;
}

@media only screen and (max-width: 400px){
    .blog-body ul{
        margin-left: 20px;
    }
    
    .blog-body ol{
        margin-left: 10px;
    }
}
@media only screen and (min-width: 400px){
    .blog-body ul{
        margin-left: 45px;
    }
    
    .blog-body ol{
        margin-left: 20px;
    }
}

.b-link{
    border-bottom: solid 0.009em #948d8d;
}

.b-link:hover{
    border-bottom: solid 0.009em #08a6f3;
    color: #08a6f3;
}